# Core Libraries
certifi==2022.12.7
charset-normalizer==2.1.1
cloudpickle==2.2.1
cmake==3.25.0
colorama==0.4.6
decorator==4.4.2
filelock==3.9.0
idna==3.4
Jinja2==3.1.2
MarkupSafe==2.1.2
numpy==1.23.5
packaging==23.1
Pillow==9.3.0
pyparsing==3.0.9
python-dateutil==2.8.2
requests==2.28.1
six==1.16.0
typing_extensions==4.4.0
urllib3==1.26.13

# Machine Learning and Deep Learning
# torch==2.1.1+cu121
# torchaudio==2.1.1+cu121
torchrl==0.2.1
# torchvision==0.16.1+cu121
opencv-python==4.8.0.76
tensordict==0.2.1
gym==0.26.2
gym-notices==0.0.8
gym-super-mario-bros==7.4.0
nes-py==8.2.1
pyglet==1.5.21

# Data Visualization
matplotlib==3.7.2
networkx==3.0
contourpy==1.1.0
cycler==0.11.0
fonttools==4.42.1
kiwisolver==1.4.5
sympy==1.11.1

# Video and Image Processing
imageio==2.31.1
imageio-ffmpeg==0.4.8
moviepy==1.0.3
proglog==0.1.10

# Optimization and Additional Tools
lz4==4.3.2
fsspec==2023.4.0
tqdm==4.66.1
lit==15.0.7
mpmath==1.2.1

# Potential Future Additions
# scikit-learn==1.1.1 # For advanced machine learning algorithms
# pandas==1.4.3 # For data manipulation and analysis
# seaborn==0.11.2 # For advanced data visualization
# ray[rllib]==2.0.0 # For scalable reinforcement learning
# stable-baselines3==1.6.0 # For advanced RL algorithms and training environments
